:root {
    --Light: #c4d3e4;
    --Medium: #394c5d;
    --Dark: #343b47;

    --DarkBlue: #1e3454;
    --DarkGreen: #33444b;

    --TextLight: var(--Light);
    --TextDark: var(--Medium);

    --aFontSize: 0.9rem;
    --btnFontSize: 1rem;
    --iFontSize: 2rem;
    --dotSize : 0.8rem;

    --originalFontSize: 1.2vw;

    --h1FontSize: 3.5rem;
    --h2FontSize: 2.3rem;
    --h3FontSize: 1.8rem;
    --h4FontSize: 1.2rem;
    --h5FontSize: 1rem;

    --h2MarginTop:  1%;
    --h3MarginTop:  2%;
    --h4MarginTop:  3%;
    --h5MarginTop:  4%;
    
    font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;
}
::-webkit-scrollbar { display: none; }
html { 
    font-size: var(--originalFontSize); 
    scroll-snap-type: y mandatory;
}

h1 {
    font-weight: 900;
    font-size: var(--h1FontSize);
    letter-spacing: 3px;
}
h2 {
    font-weight: 800;
    font-size: var(--h2FontSize);
    margin-top: var(--h2MarginTop);
    letter-spacing: 2px;
}
h3 {
    font-weight: 600;
    font-size: var(--h3FontSize);
    margin-top: var(--h3MarginTop);
}
h4 {
    font-weight: 400;
    font-size: var(--h4FontSize);
    margin-top: var(--h4MarginTop);
}
h5 {
    font-weight: 300;
    font-size: var(--h5FontSize);
    margin-top: var(--h5MarginTop);
    line-height: 1.5;
}

i {
    width: fit-content;
    color: var(--Dark);
    font-size: var(--iFontSize);
    opacity: 0.4;

    transition: all 0.5s;
}
i:hover { 
    opacity: 1; 
}

a {
    display: inline-block;
    font-size: var(--aFontSize);
    margin-top: 2.5vh;
    color: lightgray;
    text-decoration: none;
}
a:hover {
    color: gray;
    text-decoration: underline;
}

button {
    font-size: var(--btnFontSize);
    color: gray;
    padding: 4px 8px;
    border: 2px solid gray;
    background-color: white;
}
button:hover {
    background-color: gray;
    color: white;
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* 以上都是基本定義 */

section[class*="view"]{
    scroll-snap-align: center;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
}
/* 所有 view 都會有滑動鎖定的效果 */

/* 標題 */
.view-head {
    display: flex;
    justify-content: center;
    align-items: center;
    
    overflow-y: hidden;
}
#headcard {
    width: 60vw;
    height: 30vw;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border: 8px solid var(--Dark);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/************************/

/* 簡介 */
.view-person {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.person-title {
    width: 100%;
    height: 30vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.person-detail {
    height: 70vh;
    padding: 0 2%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.person-detail-picture {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.person-detail-picture img {
    width: 23vw;
    height: 23vw;
    
    border-radius: 50%;
    background-color: lightgray;
    
    background-size: cover;
}
.person-detail-about {
    display: flex;
    flex-direction: column;
}
.person-detail-picture-social {
    width: 20vw;

    margin-bottom: 5%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*****************/

/* slideshow  */
.view-sliderGallary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
    position: relative;
}

.slider-container {
    width: 90vw;
    height: 75vh;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow-x: scroll;
    overflow-y: hidden;

    scroll-snap-type: x mandatory;
}

.slider-cat {
    width: 90vw;
    height: 100%;

    display: flex;
    flex-direction: column;

    scroll-snap-align: center;
}
.slider-title{
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-cat-card-wrap{
    width: 100%;
    height: 80%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.slider-cat-card {
    width: 30%;
    height: 100%;

    background-color: white;

    border-radius: 8px;
    border: 2px solid lightgray;
}
.slider-cat-card img {
    width: 100%;
    height: 35%;

    background-color: lightgray;

    display: block;
}
.slider-cat-card-content { 
    padding: 0.5vw 2.5vw; 
}

#btn-nextCat, #btn-prevCat {
    position: absolute;
    top: 55%;
}
#btn-nextCat { right: 3%; }
#btn-prevCat { left: 3%;  }

.dot-container {
    display: flex;
    justify-content: center;
}
.dot {
    width: var(--dotSize);
    height: var(--dotSize);

    margin-right: 10px;

    border-radius: 50%;
    background-color: lightgray;

    display: inline-block;
}
/*****************/

/* 四點分類 */
.view-category {
    background-color: var(--Medium);
    color: var(--TextLight);
}

.category-title {
    height: 25vh;

    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.category-card-container {
    height: 75vh;

    display: flex;
    align-items: center;
}

.category-card {
    height: 100%;
    padding: 0 24px;
    
    text-align: center;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    position: relative;
}
.category-card img {
    width: 18vw;
    height: 18vw;
    
    background-color: lightgray;
    border-radius: 50%;

    display: block;
}
/*****************/

/*****************/
.view-act {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}
/* 控制滑動的上下按鈕 */
#btn-nextCard, #btn-prevCard {
    position: absolute;
    right: 8%;
}
#btn-nextCard { bottom: 20vh; }
#btn-prevCard { top: 20vh; }

#actCard-container {
    width: 75vw;
    height: 70vh;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}
.act-card {
    width: 100%;
    height: 100%;
    
    border-radius: 12px;
    background-color: white;
    border: 1px solid lightgray;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.1);
    
    position: absolute;
    display: flex;
    
    transition: transform 500ms, opacity 500ms;

    overflow: scroll;
}
.act-card-word {
    width: 65%;

    padding: 18px 28px;
}

.act-card-word-content {
    max-height: 80%;
    overflow: scroll;
}

.card-act-picture {
    width: 35%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.card-act-picture .act-picture-box {
    width: 22vw;
    height: 22vw;

    border: 8px solid var(--Dark);

    position: relative;
}
.card-act-picture .act-picture-box img {
    width: 100%;
    height: 100%;

    background-color: lightgray;

    position: absolute;
    top: -8%;
    left: -8%;
}
/*****************/
