:root {
    --Light: #c4d3e4;
    --Medium: #394c5d;
    --Dark: #343b47;

    --DarkBlue: #1e3454;
    --DarkGreen: #33444b;

    --TextLight: var(--Light);
    --TextDark: var(--Medium);

    --aFontSize: 0.9rem;
    --btnFontSize: 1rem;
    --iFontSize: 2rem;
    --dotSize : 0.8rem;

    --h1FontSize: 3.5rem;
    --h2FontSize: 2.3rem;
    --h3FontSize: 1.8rem;
    --h4FontSize: 1.2rem;
    --h5FontSize: 1rem;

    --h2MarginTop:  1%;
    --h3MarginTop:  2%;
    --h4MarginTop:  3%;
    --h5MarginTop:  4%;
    
    font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;
}
html {
    font-size: 18px;
}
::-webkit-scrollbar {
    display: none;
}

h1 {
    font-weight: 900;
    font-size: var(--h1FontSize);
    letter-spacing: 3px;
}
h2 {
    font-weight: 800;
    font-size: var(--h2FontSize);
    margin-top: var(--h2MarginTop);
    letter-spacing: 2px;
}
h3 {
    font-weight: 600;
    font-size: var(--h3FontSize);
    margin-top: var(--h3MarginTop);
}
h4 {
    font-weight: 400;
    font-size: var(--h4FontSize);
    margin-top: var(--h4MarginTop);
}
h5 {
    font-weight: 300;
    font-size: var(--h5FontSize);
    margin-top: var(--h5MarginTop);
    line-height: 1.5;
}

i {
    width: fit-content;
    color: gray;
    font-size: var(--iFontSize);
    
    transition: all 0.5s;
    opacity: 0.6;
}
i:hover {
    opacity: 1;
}

a {
    display: block;
    margin-top: 3rem;
    font-size: var(--aFontSize);
    text-decoration: none;
    color: lightgray;
}
a:hover {
    color: gray;
    text-decoration: underline;
}

button {
    font-size: var(--btnFontSize);
}
button {
    background-color: white;
    border: 2px solid gray;
    color: gray;
    padding: 4px 8px;
}
button:hover {
    background-color: gray;
    color: white;
    padding: 4px 8px;
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body, html {
    scroll-snap-type: y mandatory;
}

section[class*="view"]{
    scroll-snap-align: center;
    height: 100vh;
}
/* 所有 view 都會有滑動鎖定的效果 */
.view-head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

#headcard {
    width: 50vw;
    height: 50vh;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border: 8px solid var(--Medium);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    transition: all 100ms;
}

/*****************/
.view-person {
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.person-title {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.person-detail {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    height: 70vh;
 
    padding: 0 3%;
}
.person-detail-picture {
    display: flex;
    justify-content: center;
}
.person-detail-picture img {
    width: 40vh;
    height: 40vh;
    margin-top: 8%;
    background-color: lightgray;
    
    border-radius: 50%;

    background-size: cover;
}

.person-detail-about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.person-detail-about-social {
    width: 40%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 5%;
}
/*****************/

.view-sliderGallary {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.slider-container {
    width: 90vw;
    height: 70vh;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}

.slider-cat {
    width: 90vw;
    height: 70vh;

    display: flex;
    flex-direction: column;

    scroll-snap-align: center;
}

.slider-title{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 20%;
}
.slider-cat-card-wrap{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.slider-cat-card {
    width: 30%;
    height: 100%;

    border-radius: 8px;
    border: 2px solid lightgray;

    overflow: hidden;
}

.slider-cat-card img {
    display: block;
    width: 100%;
    height: 35%;
    display: block;
    background-color: lightgray;
}

.slider-cat-card-content {
    padding: 8px 16px;
}

#nextCat, #prevCat {
    position: absolute;
    top: 50%;
    opacity: 0.4;

    transition: all 0.8s;
}
#nextCat:hover, #prevCat:hover {
    opacity: 1;
}

#nextCat { right: 2%; }
#prevCat { left: 2%; }

.dot-container {
    display: flex;
    justify-content: center;
}
.dot {
    width: var(--dotSize);
    height: var(--dotSize);
    margin-right: 10px;
    border-radius: 50%;
    background-color: lightgray;
    display: inline-block;
}

/*****************/
.view-card-cat {
    background-color: var(--Medium);
    
    color: var(--TextLight);
}

.card-cat-title {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center; 
}

.card-cat-split {
    height: 80vh;
    display: flex;
    align-items: center;
}

.card-cat-split div {
    padding: 8px 28px;
    display: flex;
    flex-direction: column;
}
.card-cat-split div img {
    width: 20vh;
    height: 20vh;
    margin-bottom: 20%;
    border-radius: 50%;
    align-self: center;
    background-color: lightgray;
}
/*****************/

/*****************/
.view-act {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow-y: hidden;

    position: relative;
}

.card-act {
    width: 75vw;
    height: 70vh;
    
    background-color: white;
    border-radius: 12px;
    border: 2px solid lightgray;
    
    position: absolute;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.1);

    transition: transform 500ms, opacity 500ms;
}
.card-act-word {
    padding: 20px 28px;
    position: relative;
}

.card-act-word button {
    position: absolute;
    bottom: 8%;
}

.card-act-picture {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-act-picture .act-picture-box {
    width: 60%;
    height: 60%;
    border: 8px solid var(--DarkBlue);

    position: relative;
}
.card-act-picture .act-picture-box img {
    width: 110%;
    height: 110%;
    background-color: lightgray;

    position: absolute;
    top: -20%;
    left: -20%;
}
/*****************/

/*****************/
/* 控制滑動的上下按鈕 */
#nextCard, #prevCard {
    width: fit-content;
    position: absolute;
    right: 8%;
    opacity: 0.4;
    transition: all 0.8s;
}
#nextCard { bottom: 20%; }
#prevCard { top: 20%; }

#nextCard:hover, #prevCard:hover { opacity: 1; }
/*****************/