@media only screen and (max-width: 1200px) {
    :root {
        --Light: #c4d3e4;
        --Medium: #394c5d;
        --Dark: #343b47;
    
        --DarkBlue: #1e3454;
        --DarkGreen: #33444b;
    
        --TextLight: var(--Light);
        --TextDark: var(--Medium);
    
        --aFontSize: 0.9rem;
        --btnFontSize: 1rem;
        --iFontSize: 2rem;
        --dotSize : 0.8rem;
    
        --originalFontSize: 14px;
        --h1FontSize: 3.5rem;
        --h2FontSize: 2.3rem;
        --h3FontSize: 1.8rem;
        --h4FontSize: 1.2rem;
        --h5FontSize: 1rem;
    
        --h2MarginTop:  0%;
        --h3MarginTop:  0.5%;
        --h4MarginTop:  1%;
        --h5MarginTop:  1.5%;
        
        font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;
    }
    
    /*****************/
    .person-detail {
        height: 80vh;
        padding: 0 3%;

        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        align-items: flex-start;
    }
    .person-detail-about {
        grid-row: 1;
    }
    .person-detail-pictures {
        grid-row: 1;
        grid-column: 2;
    }
    .person-detail-picture img{
        width: 30vh;
        height: 30vh;
    }
    .person-detail-intro {
        grid-row: 2;
        grid-column: 1 / span 2;
    }
    /*****************/

    /*****************/
    .dot-container {
        display: none;
    }
    /*****************/
    .card-cat-split{
        background-color: #1e3454;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        justify-content: center;
        align-items: center;
    }
    .card-cat-split-content  img {
        width: 13vh;
        height: 13vh;
    }
    .card-cat-split-content {
        width: 40%;
        background-color: aqua;
    }
    /*****************/

    /*****************/
    

    a {
        margin-top: 1.5rem;
    }
    
}

